@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 18px;
  font-weight: 400;

  color-scheme: light dark;
  color: #181818;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: content-box;
}

html,
body {
  margin: 0;
  padding: 0;

}